*{
    
    font-size: 1rem;
    font-weight: 400;
    font-family:Rubik, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    padding: unset;
    margin: unset;

    box-sizing: border-box;

    /* border: solid 1px red; */
}

/* FlexBox */

header nav{
display: flex;
align-items: center;
justify-content: space-between;
padding: 12px 64px;
}

header nav ul {

display: flex;align-items: center; 
list-style: none; 
gap: 32px;  

}

.jumbotron {

    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("assets/Jumbotron\ \(1\).jpg");
    background-size: 100%;
    background-position: center;
    

    
}

.jumbotron h1 {
font-size: 64px;
color: white;
 

}



.Tarjetas {

display: flex;
flex-direction: column;
padding: 12px 120px;
background-color: white;
transform: translateY(-100px);
transition: transform .3s ease-in-out;

}
.Tarjetas:hover {
transform: translateY(-150px);
}

.Tarjetas__heading {
display: flex;


}
.Tamaño__tipografia h4 {
    font-size: 24px;
}


.Tipos {

display: flex;
flex-direction: column;
}

.Boton__precio{
display: flex;
justify-content: space-between;
}
.Boton__precio p {
font-size: 43px;
color: B40101;
 
}
.Separacion{

    display: flex;
    justify-content: space-between;
    padding: 60px;
    gap: 60px;


}

.informacion¨{
   display: flex;
   align-items: center;
   justify-content: center;
   background-image: url("assets/Informacion.jpg");
   background-size: 100%;
   background-position: center;
    

}


.informacion h1 {

    font-size: 56px;
}

.informacion p {
    font-size: 16px;
}

